.child {
  width: 200px;
  height: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  .child {
    background-color: red;
  }
}

.flex-margin {
  display: flex;
  .child {
    margin: auto;
    background-color: orange;
  }
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  .child {
    background-color: yellow;
  }
}

.grid-parent {
  display: grid;
  .child {
    justify-self: center;
    align-self: center;
    background-color: green;
  }
}

.position-transform {
  position: relative;
  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
  }

  .placeholder {
    height: 200px;
  }
}
